

       img {
            width: 400px; ;
       }
       #thirdDiv{
        width: 500px;
        height: 600px;
        background-color: beige;
        padding: 50px;
        border: 20px;
        border-color: aqua;
        border-style: dashed double none;
       }
       #spanId{
        font-size: 18;
        margin: 50px;
       }
